@media only screen {
body {
  background: #222;
  color: #fff;
  font: 1.2em "Liberation Sans", sans-serif;
}
.text-column {
  margin-left: auto;
  margin-right: auto;
  max-width:30em;
}
a {
  color: #0f7;
}
}